body{
    background-color: #141414;

}

main{
    background-color: #1f1f1f;
    width: 350px;
    height: 650px;
    border-radius: 10px;
    margin: auto;
}

img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-left: 110px;
    margin-top: 45px;
    margin-bottom: 15px;
}

#name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 29px;
    color: whitesmoke;
    margin-left: 62px;
    padding: 10px;

}

#place{
    color: yellow;
    font-size: 16px;
    margin-left: 85px;
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

#occ{
    color: rgb(169, 169, 154);
    margin-left: 37px;
    padding: 10px;
    margin-top: 7px;
    margin-bottom: 10px;
}

button{
    width: 300px;
    padding: 13px 50px;
    margin-left: 25px;
    margin-bottom: 12px;
    background-color: #333;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    border-radius: 7px;
    transition: 0.3s;
}

button:hover{
    background-color: rgb(220, 220, 20);
    color: black;
    cursor: pointer;
}

.attribution{
    color: aliceblue;
}

a{
    color: aliceblue;
    text-decoration: none;
    font-weight: 700;
}